{% extends 'base.html.twig' %}

{% block title %}StatusTaches{% endblock %}

{% block body %}
    <h1>StatusTaches</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ status_tach.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ status_tach.status }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ status_tach.slug }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ status_tach.color }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_status_taches_index') }}">back to list</a>

    <a href="{{ path('app_status_taches_edit', {'id': status_tach.id}) }}">edit</a>

    {{ include('status_taches/_delete_form.html.twig') }}
{% endblock %}
